.admin-footer-container {
  width: 100%;
  margin: auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

h1 {
  text-align: left;
  color: #003366;
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  font-size: 20px;
  color: #003366;
}

label {
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  color: #002a45;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-preview {
  width: 100px;
  height: auto;
  margin-top: 10px;
}

.save-btn {
  background: #90d5ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover {
  background: #002244;
}

.delete-btn {
  background: #ff6666;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #cc4444;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
