.image-video-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #f8f9fa;
    border-radius: 8px;
    text-align: left;
    color: #002a45;
}

.image-video-form {
    margin-bottom: 20px;
}

.image-video-form-button{
    width: auto;
    color: #fff;
    background-color: #71c2ff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.image-video-form button:hover {
    background-color: #0056b3;
}

.image-video-form input {
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    color: #002a45;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.image-preview,
.video-preview {
    max-width: 300px;
    margin: 10px 0;
    border-radius: 8px;
}

.media-list {
    margin-top: 20px;
}

.media-list ul {
    list-style-type: none;
    padding: 0;
}

.media-list li {
    margin-bottom: 20px;
}

.image-preview, .video-preview {
    width: 150px;
    height: auto;
    margin: 10px;
  }
  
  .sub-images, .sub-videos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .sub-image-preview, .sub-video-preview {
    width: 100px;
    height: auto;
    border-radius: 5px;
  }
  
  .image-video-form-button {
    width: auto;
    color: #fff;
    background-color: #71c2ff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .image-video-form-button:hover {
    background-color: #0056b3;
  }
  

.button-container {
    display: flex;
    justify-content: space-between;
}

.edit-button,
.delete-button {
    margin-top: 30px;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button {
    background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  flex: 1;
  margin-right: 5px;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
    margin-left: 5px;
}

.edit-button:hover {
    background-color: #014b11;
}

.delete-button:hover {
    background-color: rgb(148, 1, 1);
} 